<h3 class="column span-16 last page-title">Exercises To Help You Practice</h3>

<div id="recommended-exercises" class="column span-16 colborder last">
  <% if not @exercises.empty? %>
    <%= render(:partial=>'exercise', :collection=>@exercises) %>
  <% else %>
    <p> Nothing here for now...why don't you try browsing past exercises? </p>
  <% end %>
</div>

<div class="column span-6 last user-statistics">
	<table>
		<caption>Your Statistics</caption>
		<tr><td>Exercises Completed:</td><td> <%=h current_user.completed_exercises.count %></td></tr>
		<tr><td>Total Practice Time:</td><td><%=h "%.2f hours" % (current_user.get_stat('total_time_taken') / 3600)%></td></tr>
		<tr><td>Average Grade:</td><td><%=h "%.2f" % current_user.get_stat('average_grade') %></td></tr>
	</table>
</div>
