<div id="recommended-exercises" class="column span-16 colborder last">
	
	<%= render :partial=>'exercise', :collection=>@exercises %>

</div><!-- end recommended exercises -->

<div class="column span-6 last">
	<table>
		<tr><td>Exercises Completed: <%=h current_user.completed_exercises.count %></td></tr>
	<table>
</div>
