<tr>
	<td>
		<%=h grade_sheet_li.user.username %>
	</td>
	<td>
		<%=h grade_sheet_li.grade  %>
	</td>
	<td>
		<%=h grade_sheet_li.minutes %> minutes
	</td>
	<td>
		<%= link_to "View", :controller=>:grade_sheets, :action=>:show, :id=>grade_sheet_li %>
	</td>
</tr>