<p>
Here is your beta invite. Thanks for your interest!
</p>

<p>
BlueberryTree is a work in progress and a bit rough. Contact 
me at frank@cozysystems.com and I'll fix any issues you run into.
</p>

<p>
Here you go:
</p>

<p>
<a href="<%= url_for :controller=>:beta_invites, :action=>:redeem, :token=>@token, :only_path=>false, :host=>"blueberrytree.ws" %>">
  BlueberryTree Invite</a>
</p>

<p>
-Francisco
</p>
