<p>
Thanks for your interest. Blueberry is still very beta and only has a few features. But I'm still working
on it. Try it out here:
</p>

<a href="<%= url_for :controller=>:beta_invites, :action=>:redeem, :email=>@email, :token=>@token, :only_path=>false, :host=>"blueberrytree.ws" %>">
  BlueberryTree Invite</a>
