<% stylesheet 'landing' %>



<div id="content" class="column span-24  last">

	<div id="pitch" class="column span-24">
		<h2>Ace Your Next Programming Interview</h2>
		<div class="column span-11 last">
			<ul>
				<li><p>Practice solving programming interview puzzles</p></li>
				<li><p>Get feedback, track your progress</p></li>
				<li><p>Land your dream job</p></li>
			</ul>
      <div id="signup-button"class="column span-13"><a href="<%= url_for :controller=>:beta_invites, :action=>:new %>"> <img alt="sign up free" src="/images/sign-up.png"> </a></div>
				<p id="signup">Sign up free with a username, password and email!</p>
	  </div>
	
		<div id="screenshot" class="column span-12 last">
			<img alt="Screen Shot" src="/images/screenshot.png"/>
			<a id="try-it-button" href="/demo"><img alt="No forms, no BS, just try the software" src="/images/try-it.png"></a>
		</div>
	</div><!-- end pitch -->
	
	<div id="blurb" class="column span-15 last">
		
		<h2>Quickly, Tell Me What Blueberry Tree Is</h2>
		<p>Blueberry Tree is a programming practice tool designed to help you
       ace your next programming interview. Practice by
			 solving programming interview puzzles in the C programming language,
       work through tutorials and track your progress. 
		</p>
			 							
		<p>Sign up is free so you can start improving your skills right now!</p>
			
		<hr/>
			
		<div id="testimonials">
			<ul>
				<li>
					<div class="column span-4 last testimonial"><img alt="CozySystems LLC Developer" src="/images/frank.jpg" width="125" height="90"/> </div>
						<blockquote>
							Blueberry Tree lets me practice programming everyday. I like to program
							the way I like to eat food. And breath oxygen. And exhale CO2.</blockquote> 
						<p>-Frank Licea, Developer, CozySystems</p></li>
				<li>
					<div class="column span-4 last"> <img alt="developer" src="images/rails.png" width="125" height="90"/> </div>
						<blockquote>
							I couldn't have gotten into my dream job without the help of BlueberryTree</blockquote>
						<p>-Developer</p></li>
			</ul>
		</div> <!-- end testimonials-->
		
	</div> <!-- end blurb -->
	
	<div id="sidebar" class="column span-8 rounded-corners">
		<h3>How Is Blueberry Tree Going To Help Me?</h3>
		<ul>
			<li><h5>Lots Of Exercises</h5>
					<p>We add new exercises regularly, allowing you to get
						  comfortable with all types of data structures and algorithms.</p></li>
			<li><h5>Insightful Tutorials</h5>
				<p>Each exercise comes with a video tutorial that will walk you through the data structures and algorithms
					 used to solve the exercise.</p></li>
			<li><h5>Immediate Feedback</h5>
					<p>Blueberry Tree grades your solutions automatically,
				  giving you the feedback you need to increase your programming skills.</p></li>
			<li><h5>Find Out Where You Need Practice</h5>
					<p>Blueberry Tree assess your skill level and offers new exercises that help you improve
						 in topics that you struggle with.</p></li>
		</ul>
	</div><!-- end sidebar -->
	
 </div><!-- end content-->

