	<!-- Featured Slider -->
    <div id="featured"> 
        <div id="loopedSlider">

            <ul class="nav-buttons">
                      <li id="p"><a href="#" class="previous"><img src="/images/slider-arrow-left.png" alt="&lt;"></a></li>
                      <li id="n"><a href="#" class="next"><img src="/images/slider-arrow-right.png" alt="&gt;"></a></li>
            </ul>    
                               
             <div class="container" style="height: 297px; display: block; ">  

               <div class="slides" style="width: 2580px; ">
                        
                  <div id="slide-7" class="slide" style="position: absolute; left: 0px; display: block; ">                
                    <img src="/images/screenshot.png" alt="" class="alignright slider-image">
                    <h2>Ace Your Next Tech Interview!</h2>
                    <p>
                       BlueberryTree is an programming tutor designed to help you ace 
                       your next technical interview. Become an expert at reversing linked lists, 
                       searching, sorting and other timed interview problems.
                   </p>

                    <h4>Start Improving Your Skills Right Now</h4>

                   <p>
                     <%= link_to("<span>Sign Up Free</span>", new_beta_invite_path, :class=>"button") %>
                       <span class="middle">or</span> 
                       <%= link_to("<span>Try It Now</span>", demo_path, :title=>"try-it-now", :class=>"button") %>
                   </p>
                    <p>&nbsp;</p>               				    	
                  </div> <!-- end slide -->
                
                  <div id="slide-8" class="slide" style="position: absolute; left: 860px; display: block; ">                
                   <h2>Increase Your Programming Skills</h2>
                   <h4> 
                     Are You Ready To Start Practicing? Sign Up Free!
                   </h4>
                   <p>
                     <em>
                       Whether you are preparing for your next programming 
                       interview or like to practice your data structures and 
                       algorithms, you'll find BlueberryTree's exercises and 
                       tutorials fun and insightful. Ready to start practicing? 
                       Sign up in just a few seconds! 
                     </em>
                   </p>
                 </div> <!-- end slide -->
             </div>    <!-- slides ends -->
            </div><!-- .container ends -->   
          </div><!-- .content ends -->
        </div><!-- #featured ends -->
      <!-- Featured Slider end -->

    <div id="main-content" class="home">           
      <div class="content">
        <div class="col-left">
          <div id="main">
                                                                                      
            <!-- Post Starts -->
            <div class="post wrap">

                <img src="/images/12-8-ico-users.jpg" alt="Lots Of Exercises" class="home-icon">	
                <div class="feature"> 
                  <h3>Lots Of Exercises For You To Practice</h3>
                  <p>
                     We add new exercises regularly, 
                     allowing you to get skilled at solving 
                     all kinds of interview problems from linked lists to depth-first search.
                  </p>
               </div> 
               <div class="hr"></div> 	

              <img src="/images/13-7-ico-chart.jpg" alt="Track Your Progress" class="home-icon">	
              <div class="feature"> 
                <h3>Get Feedback, Track Your Progress</h3> 
                <p>
                  BlueberryTree grades your solutions and tracks your progress automatically,
                  giving you the feedback you need to increase your programing skills.
                </p>
             </div> 
             <div class="hr"></div> 	

            <img src="/images/10-6-ico-ring.jpg" alt="Friendly Tutorials" class="home-icon">	
            <div class="feature"> 
              <h3>Gain Insight With Friendly Tutorials</h3> 
              <p>
                Each exercise comes with tutorials and video lectures
                that will walk you through how to solve an exercise like a pro. 
               </p>
            </div> 
            <div class="hr"></div> 	
        </div>
        <!-- Post Ends -->
      </div><!-- main ends -->
  </div><!-- .col-left ends -->

  <!-- Sidebar Starts -->
    <div id="sidebar" class="col-right">
    
    <!-- Widgetized Sidebar -->	
    <div id="news" class="widget block">            
      <h3>Latest News</h3>
        <ul>
          <li>
            <strong><a href="http://www.cozysystems.com/blog/?p=130">BlueberryTree Launches A Beta!</a></strong>
            <span class="meta">May, 2011</span>
          </li>
        </ul>
    </div> <!-- /news -->		
    
    <!-- <div class="block widget widget_twitter">
      <h3 class="hl">Twitter</h3>
      <ul id="twitter_update_list">
        <li>
        </li>
      </ul>
        <p class="follow"><a href="http://www.twitter.com/">Follow us on Twitter</a></p>
      </div> -->
      <!-- <script type="text/javascript" src="/javascript/blogger.js"></script> -->

    </div><!-- Sidebar Ends -->	
  </div><!-- .content Ends -->
  </div><!-- #main-content ends -->

	<div class="fix"></div>
