<div id="motivation">
	<p>
		by <span id="my-name">Frank Licea</span>, <span id="my-title">Software Developer, CozySystems</span><br/>
		<span id="my-email">frank@cozysystems.com</span>
	</p>

	<h3>Deliberate Practice</h3>
		<p>
			Studies have shown that it takes about 10,000 hours of deliberate practice to become
			an expert in some area. Our jobs can't really be considered deliberate practice since
			our focus is on completing the project and not on becoming better programmers.
			Blueberry Tree provides you with a deliberate practice loop that will help you
			improve your programming skills and get you ready for the types of problems
      you will encounter in your next programming interview:
		</p>
			<ol>
				<li>Attempt a challenge that is just barely too hard for you</li>
				<li>Get feedback on your solution</li>
				<li>Correct your mistakes</li>
				<li>Repeat</li>
			</ol>
		
			<p>
        Blueberry Tree attempts to recomend exercises based on your skill level,
        grades your solutions automatically, and gives you access to other user's
        solutions. Let Blueberry Tree guide you through ever harder programming
        tasks that will make your next programming interview a breeze!
			</p>
		
			<p>
				So what are you waiting for? Lets get started!
			</p>
      <%= link_to "Register For Free Right Now!", :controller=>:users, :action=>:new %>
</div>
