<div id="motivation">
	<p>
		by <span id="my-name">Frank Licea</span>, <span id="my-title">Software Developer, CozySystems</span><br/>
		<span id="my-email">frank@cozysystems.com</span>
	</p>

	<h3>Why did you build Blueberry Tree?</h3>
	<p>First because I wanted to use it myself! I love programming but many of
		 us don't get very excited about the programming we have to do every day. Developing
		 enterprise or similar software, is a different kind of software development. It doesn't always 
		 afford us an opportunity to work with the stuff that makes geeks happy. You know what I mean: The
		 thrill of implementing your own linked lists, bit vectors and hash tables! How many of use
		can remember the last time we had to implement our own linked list?
	 </p>

	 <p>
		Why is this kind of programming important? Well to be practical, it may not be important
		in day-to-day enterprise software development because of the plethora of libraries available
		to us. But what about your next programming interview? Asking a candidate to implement a linked
		list is a common way to asses their understanding of pointers. How about a curious algorithm like
		finding a longest common substring? Or reversing a linked list in place?
	 </p>

		<p>
			Typically we don't run into fun stuff like this in enterprise software and that's a shame.
			Not only are these topics fun and entertaining but the concepts and thinking involved 
			in solving these types of problems can make us better programmers. 
	  </p>

	<h3>Deliberate Practice</h3>
		<p>
			Studies have shown that it takes about 10,000 hours of deliberate practice to become
			and expert in some area. Our jobs can't really be considered deliberate practice since
			our focus is on completing the project and not on becoming better programmers. The practice
			BlueBerry Tree tries to provide is a deliberate practice loop consisting of
		</p>
			<ol>
				<li>Attempt an challenge that is just barely too hard for you</li>
				<li>Get feedback on your solution</li>
				<li>Correct your mistakes</li>
				<li>Repeat</li>
			</ol>
		
			<p>
				The automated unit tests, the ability to browse everyones code, and the video tutorials will
				give you feedback on your solution. You can retake any exercises you've completed
				giving you the opportunity to correct your mistakes. And finally new exercises
				are added regularly allowing you to make this a long term addition to your schedule. 
			</p>
		
			<p>
				So what are you waiting for? Lets get started!
			</p>
</div>