<h3>Admin Panel</h3>

<%= link_to "Feedback Comments", feed_back_comments_path %><br/>
<%= link_to "Exercises", exercises_path %><br/>
<%= link_to "Exercise Sets", exercise_sets_path %><br/>
<%= link_to "Users", users_path %><br/>
