#nav {
  background: rgb(89, 115, 48) url('/images/nav-bg.png') repeat-x top;
  border-top: 1px solid rgb(30, 30, 30);
}

#nav ul{
}

#nav ul li{
  list-style-type: none;
  float:left;
  padding: 3px 3px 3px 0px;
}

#nav ul li:hover{
  background-color: rgb(79, 105, 39);
}

#nav ul li a{
  padding: 5px;
  color: white;
}