body{
  margin: 0;
  padding: 0;
  font-size: small;
  background: rgb(37, 58, 89);
}

#wrap{
  background: white;
}

#content{
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li{
  margin: 0;
  padding: 0;
}

p{
  color:rgb(80, 80, 80);
  font-size:1.1em;
  padding-left:4px;
}

h1, h2, h3, h4, h5{
  padding-left: 4px;
}

.rounded-corners {
     -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}

#header{
  margin: 0px 0px 0px 0px;
  background: url('/images/header.png') repeat-x top;
  height:50px;
}

#header h2{
  color: rgb(240, 240, 240);
}

#header h2 a{
  color: rgb(240, 240, 240);
}

#login{
  background: url('/images/pitch-bg.png');
}

#login form{
  padding: 10px;
}

#footer{
  margin-left: auto;
  text-align: center;
  clear: both;
}
