body{
  margin: 0;
  padding: 0;
  font-size: small;
  background: rgb(230, 230, 230);
}

#wrap{
  background: white;
}

#content{
  padding: 0px 0px 0px 8px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p{
  color:rgb(80, 80, 80);
  font-size:1.1em;
}

#footer{
  margin-left: auto;
  text-align: center;
  clear: both;
}
