body{
  margin: 0;
  padding: 0;
  font-size: small;
  background: white;
}

#wrap{
  background: white;
}

a {
  text-decoration: none;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#header{
  margin: 0;
  padding: 0;
  background: rgb(50, 50, 50);
}

#header h1{
  color: white;
  padding: 10px 0 0 0;
  font-weight: bold;
}

#nav{
  height: 50px;
}

#nav ul{
  float: right;
}

#nav ul li{
  list-style-type: none;
  padding: 15px;
  float:left;
}

#nav ul li a{
  padding: 15px;
  font-size: 1.2em;
  color: rgb(255, 255, 255);
}

#pitch{
  background: white;
}

#pitch ul{
  margin: 0px;
}

#pitch ul li{
  padding: 0px 0px 10px 0;
  list-style-type: none;
  font-size: 1.2em;
  font-weight: bold;
}

#pitch p a img{
  text-align: center;
}

#testimonials ul li img{
  border: 5px solid #bbb;
}


#footer{
  margin-left: auto;
  text-align: center;
  clear: both;
}
