body{
  font-size: medium;
  font-family: Arial, "MS Trebuchet", sans-serif;
}

h1, h2, h3, h4, h5, h6{
  color: rgb(89, 115, 48);
  margin: 10px 0px 10px 0px;
  font-family: serif;
}

h3 {
 text-align: center;
 font-size: 1.2em;
}

p{
  color: rgb(80, 80, 80);
  line-height: 22px;
  font-size: .95em ;
  margin: 10px 0px 10px 0px;
}

code{
  color: rgb(40, 40, 40);
  padding:0px
}

pre{
  margin-bottom: 25px;
}

a{
  text-decoration: underline;
  color:rgb(52, 99 ,163);
  font-size: .80em;
}

#wrap{
  margin:4px;
}

#exercise_problem_text {
  padding: 5px;
  border-left: 2px solid #ccc;
  background: rgb(255, 255, 255);
  float: right;
  width: 100px;
  overflow: scroll;
  padding-left: 8px;
}

#footer{
  text-align:center;
  margin-top: 50px;
}

#footer a, #footer p{
  color: rgb(90, 90, 90);
}

#footer a{
  text-decoration: none;
}

#ideone-api a{
  text-decoration: none;
  color: rgb(150, 150, 150);
  font-size: .90em;
}

#ideone-api{
  color: rgb(150, 150, 150);
  text-align: center;
  font-size: .80em;
}
