#wrap{

}

#wrap h1{
  margin:0px;
  width: 100%;
  border-bottom: 4px solid #555;
  color: black;
}

#exercise_problem_text {
  width: 30%;
  height: 575px;
  border:1px solid #ccc;
  background:#f2f2f2;
  padding:5px;
  overflow:auto;
  float: left;
}

#right_content{
  margin-left:330px;
  margin-top: 10px;
}

#footer{
  text-align:center;
}