#center{
  text-align: center;
}

#center p{
  font-size: 1.4em;
}

#green-text p{
  color: green;
  font-size: 1.4em;
}

#default{
  
}

#gradesheet td{
  font-size: 1.2em;
}

a{
  font-size: 1.4em;
  margin: 5px;
}