
h2, h3, h5{
  color: rgb(22, 22, 59);
}

#header{
  margin: 0px 0px 25px 0px;
  padding: 0px;
  background-color: rgb(50, 50, 50);
  height:40px;
}

#app-name{
  font-size:1.8em;
  color: rgb(240, 240, 240);
}

#nav{
}

#nav ul{
  float: right;
  margin-top:15px;
}

#nav ul li{
  list-style-type: none;
  padding: 0px 15px 0px 0px;
  float:left;
}

#nav ul li a{
  padding: 15px;
  color: rgb(240, 250, 250);
}

#pitch{
  margin: 0px 0px 40px 0px;
}

#pitch h2{
  color: rgb(194, 61, 61);
}

#pitch ul{
  margin-top: 0px;
}

#pitch ul li{
  padding: 0px 0px 10px 0;
  list-style-type: none;
  font-size: 1.2em;
  background: url('/images/checkmark.png') left center no-repeat;
  padding-left: 30px;
  padding-top: 0px;
}

#signup{
  font-size: 1em;
  color: rgb(14, 117, 43);
}

#pitch ul li p{
  margin-bottom: 10px;
  padding-top: 8px;
  line-height:14px;
}

#pitch p a img{
  text-align: center;
}

#screenshot{
}

#blurb{
  margin-top: 5px;
  padding:4px;
}

#blurb h2{
  margin-bottom:5px;
  font-size:1.5em;
}

#testimonials ul li img{
  border: 5px solid #bbb;
}

#sidebar{
  background-color: rgb(245, 245, 245);
  margin-top:5px;
  padding: 4px;
}

#caption{
  text-align:center;
}

#sidebar li{
  background: url('/images/star.png') left top no-repeat;
}

#sidebar h3{
}

#sidebar h5{
  margin:  0px;
  padding: 0px 0px 0px 24px;
}

#sidebar p{
  margin-bottom: 10px;
  padding-left: 24px;
}

#sidebar img{
}

#footer{
  margin-left: auto;
  text-align: center;
  clear: both;
}