<h2> Request A Beta Invite </h2>

<div id="request-invite" class="column span-24 last">
	
	<% form_for @beta_invite do |f| %>
		
	    <%= f.label :email %><br/>
	    <%= f.text_field :email %><br/>
		<br/>
	  <%= f.submit "Request Invite!" %> <br/>
	
		<div class="errors">
  		<%= error_messages_for('beta_invite', :header_message=>nil, :message=>nil) %>
		</div>
	<% end %>
	
</div>
