<li>
<%= link_to exercise.title, {:controller=>:tutor, :action=>:show, :id=>exercise}, :class=>"demo-exercise-title"%> <br/>
  <%=h exercise.description %>
  <%=link_to "Read Tutorial", {:controller=>:exercises, :action=>:show_tutorial, :id=>exercise}, :class=>'tutorial-link' %>
</li>
