<div id="my-stats">
  <table>
    <caption>Your Statistics</caption>
    <tr><td>Exercises Completed:</td><td> <%=h current_user.completed_exercises.count %></td></tr>
    <tr><td>Total Practice Time:</td><td><%=h "%.2f hours" % (current_user.get_stat('total_time_taken') / 3600)%></td></tr>
    <tr><td>Average Grade:</td><td><%=h "%.2f" % current_user.get_stat('average_grade') %></td></tr>
  </table>
</div>
