
<div id="fade" class="black-overlay"></div>
<div id="rating-box" class="white-content">
  <h2>How did you find this exercise?</h2>
  <a id="too-hard" href="#" onclick="<%= remote_function(:url=>{:controller=>:ratings, 
                                                                :action=>:create,
                                                                :exercise_id=>@exercise.id, 
                                                                :rating=>'too_hard'})%>">
    Too Hard</a>
