<% if grade_sheet.grade > exercise.average_grade %>
	<div id="good-recommendation">
		<p>
		<%=h "Nice! You scored higher than the average!" %>
		</p>
		<p>
			Your Grade: <%=h grade_sheet.grade %>
		</p>
		<p>
			Average Grade: <%=h exercise.average_grade %>
		</p>
	</div>
	
<% else %>
	<p><%=h "Oh no! You scored lower than the average grade! Check out the tutorial for some neat hints!" %></p>
<% end %>
