<% stylesheet 'application'%>

<div id="already-doing-exercise">
	<h2 class="page-title">You are already doing an exercise!</h2>
	<%= link_to "Back", request.referer %> |
	<%= link_to "Exercise In Progress", :action=>:show, :id=>@current_exercise %>
</div>
