<% stylesheet 'screen' %>
<% stylesheet 'ie' %>
<% stylesheet 'application' %>

<div id="time-is-up" class="column span-24">
	<h2 class="page-title">Time Is Up For That Exercise!</h2>
	<%= link_to "Home", current_user_home %>
</div>
