<% javascript 'prototype' %>
<% stylesheet 'highlight.css' %>
<% stylesheet 'landing' %>

<div id="grading">

  <div id="message">
    <p>grading...</p>
  </div>
  <div id="progress-bar"><%=image_tag 'bar.gif', :id=>'bar' %></div>

  <% unless Rating.has_rated?(current_user, @exercise) or current_user.anonymous?%>
    <%= render(:partial=>'rating_overlay', 
               :locals=>{:exercise=>@exercise}) %> 
  <% end %>
</div>

<%= periodically_call_remote :update=>:message,
      :url=>{:action=>'grade_status', :id=>@exercise.id}, 
      :condition=>"/grading/i.test($('message').innerHTML)",
      :complete=>"if( ! /grading/i.test($('message').innerHTML )){ Element.hide('bar');}"%>
