<table>
  <tr>
		<th>Exercise Sets</th>
  </tr>

	<% exercise_sets.each do |exercise_set| %>
		<tr>
			<td> <%= exercise_set.title + (exercise_set.finished? ? "" : " (in progress)")%> </td>
	    <td> <%= link_to 'Edit', edit_exercise_set_path(exercise_set) %></td>
	    <td> <%= link_to 'Destroy', exercise_set, :confirm => 'Are you sure?', :method => :delete %></td>
		</tr>
	<% end %>
</table>


