<div id="exercise_list">
	<ul>
		<li class="exercise">
			<%= link_to exercise.title, {:controller=>:tutor, :action=>:confirm, :id=>exercise}, :class=>"exercise_title"%><br/>
			<span class="exercise_description"><%=exercise.description%></span><br/>
			<span class="exercise_statistics">
				 <%=h exercise.users_completed%> users, <%=h exercise.average_grade %> avg grade
			</span>
		</li>
	</ul>
</div>