<div class="figure">
<% new_or_existing = figure.new_record? ? 'new' : 'existing' %>
<% prefix = "exercise[#{new_or_existing}_figure_attributes][]" %>

<% fields_for prefix, figure  do |f| %>
		<%= f.label :figure_img_file, "Figure" %> <br/>
		<%= f.file_field :figure_img_file %>	<%= link_to_function 'Remove Figure', "this.up('.figure').remove()" %><br/>
<% end %>
</div>