<div id="tutorial">

  <h3 class="page-title"> <%= @exercise.title %> </h3>

  <div id="exercise-problem-text">
    <%= @exercise.problem %>
  </div>
  
  <div id="tutorial-text">
    <%= @tutorial_html %>
  </div>

</div>
