<div id="tutorial">

  <div id="exercise-problem-text">
    <h1> <%= @exercise.title %> </h1>
    <%= @exercise.problem %>
  </div>
  
  <div id="tutorial-text">
    <%= @tutorial_html %>
  </div>

</div>
