<div id="tutorial">

  <%= link_to("Edit", edit_exercise_path(@exercise)) if current_user.has_role?("admin") %>

  <div id="exercise-problem-text">
    <h1> <%= @exercise.title %> </h1>
    <%= @exercise.problem %>
  </div>
  
  <div id="tutorial-text">
    <%= @tutorial_html %>
  </div>

</div>

<a id="feedback-link" href="" onclick="alert('hi'); return false;"> 
  <img src="/images/feedback.png" width="99" height="128"/>
</a>

<div id="feedback">
  
</div>
