<div id="footer">
      <div class="content">
          <div class="col-left">
            <h3>CozySystems</h3>
            <p>
              CozySystems is a small software shop located in West Texas. <br/>
              Applying the func since 2010
            </p>
              <div class="hr"></div>
              <p>
                &copy; <a href="http://www.cozysystems.com">CozySystems</a>
              </p>
          </div>
          <div class="col-right">
            <h3>Contact Us</h3>
            <p>
              <strong>email:</strong> frank@cozysystems.com<br>
            </p>
          </div>
      </div>
      <div class="fix"></div>
</div>
<!-- footer Ends -->
