<div id="header" class="column span-24">
	<div class="column span-16 last">
		<h2 id="app-name"><%= link_to "Blueberry Tree", "/" %></h2>
	</div>
	<div id="header-nav" class="column span-8 last">
		<ul>
				<li><%= link_to("#{current_user.username}", :controller=>:users, :action=>:show_me, :id=>current_user) if current_user_session_and_not_anonymous %></li>
				<li><%= link_to("Logout", logout_path) if current_user_session_and_not_anonymous %></li>
		</ul>
	</div>
</div>