<% if show_menu? %>
	<ul id="menu">
		<li> <%= link_to "Overview", :controller=>'school' %> </li>
		<li> <%= link_to "Exercises", :controller=>'exercises', :action=>'user_index', :id=>'done' %> </li>
		<li> <%= link_to("Admin", admin_path) if current_user && current_user.has_role?('admin')%> </li>
		<li> <%= link_to "Logout", logout_path %>
	</ul><br/><br/>
<% end %>