<% if show_menu? %>
	<ul>
		<li> <%= link_to "Overview", :controller=>:overview %> </li>
		<li> <%= link_to "Exercises", :controller=>:exercises, :action=>'user_index', :id=>'done' %> </li>
		<li> <%= link_to("Admin", admin_path) if current_user && current_user.has_role?('admin')%> </li>
	</ul>
<% end %>